header{
    background-color: #00AEFF;
    width: 100%;
    height: 130px;
    

}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;

}
.header-fs
{
    background-color: #009BDD;
    width: 25%;
    height: 70px;
}
.header-sc
{
    background-color: #36C3FF;
    width: 25%;
    height: 70px;
}
.headergol
{
    display: flex;
    flex-direction: row;
    max-width: 1700px;
    width: 100%;
    height: 100%;
    justify-content:space-around;
    padding: 30px 0;
    
}
.contant
{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 745px;
    margin: auto;

}
aside
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    background:#FF5607;
    width: 25%;
    height: 745px;
        
}
.aside-bl
{
    width: 80%;
    height: 40px;
    background: #E84900;
    margin-top: 25px;
}
main
{
    width: 100%;
    height: 700px;
    margin: 25px 0 20px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}
.mainkv{
    width:40%;
    height: 235px;
    background: #FFBD00;
    margin:0 5% 20px 0;
 }
.fspl{   
    display: flex;
    flex-direction: column;
    width:100%;
    height: 30px;
    background: #9D9D9D;}
.pl{    
    width: 100%;
    height: 20px;
    background: #CECECE;
}
.rgh
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height:235px;
}
.dwn
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;    
    height: 440px;
}
footer{
    background: #00D169;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;
    
}
.footbl
{
    background: #02B15A;
    width: 15%;
    height: 170px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding: 10px 0;    
}
.footblvs
{
    background: #038042;
    width:  80%;
   height: 20%;
}
@media (max-width:1240px)
{
    .contant
    {
        width: 100%;
    }
    footer{
        height: 250px;
    }
    .footbl
    {
        width: 18%;
        height: 210px;    
    }
    .mainkv{
        height: 275px;
     }
     .fspl{   
         height: 35px;
     }        
     pl{height: 30px}
     .rgh
     {
         height: 275px;
     }
     .contant
     {
         height: 800px;
     }
     aside{
         height: 800px;
     }
     
}
@media (max-width:375px)
{
    .headergol
    {
        flex-direction: column;
        justify-content: center;
        padding: 0 0;
        align-items:center;      
   }   
   .header-fs
   {
       width: 90%;
       height: 45px;
   }
   .header-sc
   {
       margin-top: 10px;
       width: 90%;
       height: 45px;       
   }
   aside
   {
    flex-direction: row;
    width: 100%;   
    justify-content: space-around;   
    height: 80px;  
   }
   main{
       flex-direction: column;
       flex-wrap: nowrap;
       align-content:space-between;
       margin: 0;       
    }
    .contant
    {
        width: 100%;
        flex-direction: column;
    }
    .aside-bl:nth-child(4)         
    {
        display:none;
    }
    .aside-bl:nth-child(5)         
    {
        display:none;
    }
    .aside-bl{margin: 0;
        width: 25%;
        height: 30px;
        
    }
    .mainkv{
        width:100%;
        height: 235px;
        margin:0;
        margin-bottom: 10px;
     }
     .rgh
     {
         width: 100%;
         margin-bottom:10px;
         align-items: center;         
     }
     .dwn{
        align-items: center;
     }
     .pl{
        width: 90%;
        }
     .fspl{
        width: 90%; 
     }
     .footblvs:nth-child(4) 
     {
         display: none;
     }
     .footblvs:nth-child(3) 
     {
         display: none;
     }
     .footblvs:nth-child(2) 
     {
         display: none;
     }
     footer{
        flex-direction: column;
        padding: 0;
        align-items: center;
        
    }
    .footbl
    {
        width: 90%;
        align-items:flex-start;
    }
    .footblvs{
        height: 80%;
        width: 60%;
        margin-left: 15px;        
        
    }


}