body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
      font-size:13px;
    line-height:18рх;
    color: #333;
     font-family: Arial;

}

.content {
      width: 840px;
    background-color: #fff;
    margin:100px auto auto auto;
    

}
.content .content-top {
    
    height: 12px;
    background-image: url(img/content-bg.png);
    background-position: 0 0;
    
}
.content .content-bottom {
    height: 12px;
    background-image: url(img/content-bg.png);
    background-position: -840px 0 ;
}
.content .content-middle {
    padding: 20px 30px;
}
	
h1 {
    font-size: 26рх;
    color: #2b8c57 ;
    line-height: 36рх;
    font-stretch:normal;
    margin-bottom: 10px;
}
h2 {
    font-size: 18рх;
    line-height: 28px;
    color:#2b8c57;
    font-stretch: normal;
    font-style: italic;
    margin: 30px auto 15px auto;
}
	
div.block-1 {
    background-image: url(img/block-1-bg.png);
    background-color: #2b8c57;
    background-repeat: repeat-x;
    color: white;
    font-style: italic;
    font-size: 12px;
    padding: 20px 30px;
    
}
div.block-2 {
    color: white;
    font-style: italic;
    font-size: 12px;
    padding: 20px 30px;
    background-color: #356149;
    background-image: url(img/picture-1.png);
    background-repeat: no-repeat;
    background-position: right;
}

a.button {
    background-image: url(img/button-1.png);
    display:block;
    width: 121px;
    height: 38px;
    text-decoration:none;
    background-repeat: no-repeat;
    background-position:0 0;
}
a.button:hover {
     background-position-y:center;
}
a.button:active { 
     background-position-y:bottom;

}